*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: rgb(255, 255, 254);
}
.container{
	margin-top: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	/* flex-wrap: wrap; */
}
.box{
	background: rgb(224, 63, 63);
	position: relative;
	width: 250px;
	padding: 40px;
	
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
	border-radius: 4px;
	margin: 20px;
	overflow: hidden;
	text-align: center;
}
.box:before{
	content: "";
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255,.2);
	z-index: 1;
}
.box .icon{
	position: relative;
	width: 80px;
	height: 80px;
	background: #000;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	font-size: 40px;
	font-weight: 700;
	border-radius: 50%;
	transition: 0.01s;
}
.box:nth-child(1) .icon{
	box-shadow: 0 0 0 0 #696868;
	background: #696868;
}
.box:nth-child(1):hover .icon{
	box-shadow: 0 0 0 400px #696868;
}
.box:nth-child(2) .icon{
	box-shadow: 0 0 0 0 #696868;
	background: #696868;
}
.box:nth-child(2):hover .icon{
	box-shadow: 0 0 0 400px #696868;
}
.box:nth-child(3) .icon{
	box-shadow: 0 0 0 0 #696868;
	background: #696868;
}
.box:nth-child(3):hover .icon{
	box-shadow: 0 0 0 400px #696868;
}
.box .content{
	position: relative;
	z-index: 2;
	transition: .5s;
}
.box:hover .content{
	color: #fff;
}
.box .content h3{
	font-size: 20px;
	margin: 20px 0;
}
.box .content a{
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
	font-weight: 500;
	margin-top: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}