/* navigation bar customization */
.mynav{

	height:500px;
  position: fixed;
}
.navbar{
  
  
	
}
.navbar .navbar-brand{
  margin-left: 5%;
	color : black;
	font-weight: bolder;
	font-size: 1.3em;
}
.navbar .navbar-nav{
  position: fixed;
	margin-left: 20%;
  color: black;
}
.navbar .nav-item{

    color: black;
    margin-left: 20px ;
}
.navbar .nav-item :hover{
	background-color: #4d125857;
    border-radius: 5px;
}
.navbar .nav-item a{
  
	color: rgb(19, 16, 16) !important;
    
}
.navbar .dropdown-menu{
	background-color: rgba(0,0,0,0.3);
}
.dropdown-item:hover{
	background-color: rgba(0,0,0,0.3);
}
.navbar form button{
	background-color: #ea00b1;
	color:#FFF;
	border:0;
}
.navbar form button:hover{
	background-color: #000;
}
#contactbtn
{
  /* position: relative; */
  color: #9400d3;
  /* letter-spacing: 15px; */
  border: 5px solid #9400d3a2;
  text-decoration: none;
  
  padding: 5px;
  /* font-size: 25px; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: 1.5s;
  border-radius:100px;
}

/*creating animation effect*/
#contactbtn:hover {
  box-shadow: 0 5px 5px 0 #9400d3 inset,0 5px 5px 0 #9400d3,
    0 5px 5px 0 #9400d3 inset,0 5px 50px 0 #9400d3;
    text-shadow: 0 0 5px #9400d3;
    background: #41054952;
    color: white;
  
}





/* home page */

a:hover{
    text-decoration: none;
}

.header-area
{
    padding:290px 0 225px ;
    position: relative;
    z-index: 0;
    overflow: hidden;

}

.header-inner h1
{
    margin-top: -50px;
    font-size: 60px;
    width: 500px;

}

.header-inner a{
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    font-size: 34px;  
    background: #0493bd;
    text-decoration: none;
}

.header-inner a:hover{
  padding: 10px 25px;
  border: 2px solid rgb(80, 183, 252);
  border-radius: 50px;
  color: rgb(80, 183, 252);
  font-size: 34px;  
  background: #f0f0f0;
  text-decoration: none;
}

.header-area .bg-img
{
    height: 490px;
    width: 490px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -80px;
    z-index: -1;
    animation: bikerun 5s infinite;
    transition: all 0.5s;
}

@keyframes bikerun {
    0%
    {
        right: -27%;
    }
    100%
    {
        right: 100%;
    }
}

.header-area .bg-img-02
{
    height: 130px;
    width: 110px;
    background-repeat: no-repeat;
    position: absolute;
    right: 20%;
    top: 10%;
    z-index: -1;
    animation: ballonfly 15s infinite;
    transition: all 0.5s;
}

@keyframes ballonfly {
    0%
    {
        top: 40%;
        opacity: 0;
    }

    30%
    {
        transform: scale(1.5s);
        opacity: 1;
    }

    100%
    {
        top: 10%;
        opacity: 0;
    }
}


.header-area .bg-img-03
{
    height: 30px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 27%;
    top: 10%;
    z-index: -1;
    animation: ballonfly-02 15s infinite;
    transition: all 0.5s;
}

@keyframes ballonfly-02 {
    0%
    {
        top: 40%;
        opacity: 0;
    }

    30%
    {
        transform: scale(1.5s);
        opacity: 1;
    }

    100%
    {
        top: 10%;
        opacity: 0;
    }
}



/* home page contact us */

/* .website{
  margin-left: auto;
  margin-right: -280px;
  
  
}
.IOS{
  margin-left: auto;
  margin-right: -280px;
}
.Android{
  margin-left: auto;
  margin-right: -280px;
}
.Desktop{
  margin-left: auto;
  margin-right: -280px;
} */


#feedback-page{
/* text-align:center; */
}

#form-main{
width:100%;
padding-left: 500px;
padding-top:0px;
}

#form-div {
background-color:rgba(72,72,72,0.4);
padding-left:35px;
padding-right:35px;
padding-top:35px;
padding-bottom:50px;
width: 450px;
float: left;
left: 50%;
position: absolute;
margin-top:30px;
margin-left: -260px;
border-radius: 7px;

}

.montform .feedback-input {
color:#3c3c3c;
font-family: Helvetica, Arial, sans-serif;
font-weight:500;
font-size: 18px;
border-radius: 0;
line-height: 22px;
background-color: #fbfbfb;
padding: 13px 13px 13px 54px;
margin-bottom: 10px;
width:100%;
box-sizing: border-box;
border: 3px solid rgba(0,0,0,0);
}
/*Inputs styles*/
.montform .feedback-input:focus{
background: #fff;
border: 3px solid #3498db;
color: #3498db;
outline: none;
padding: 13px 13px 13px 54px;
}


/* Icons ---------------------------------- */
.montform  #name{
background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
background-size: 30px 30px;
background-position: 11px 8px;
background-repeat: no-repeat;
}

.montform  #name:focus{
background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
background-size: 30px 30px;
background-position: 8px 5px;
background-position: 11px 8px;
background-repeat: no-repeat;
}

.montform  #email{
background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
background-size: 30px 30px;
background-position: 11px 8px;
background-repeat: no-repeat;
}

.montform  #email:focus{
background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
background-size: 30px 30px;
background-position: 11px 8px;
background-repeat: no-repeat;
}

.montform  #comment{
background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-pencil.svg);
background-size: 30px 30px;
background-position: 11px 8px;
background-repeat: no-repeat;
}

.montform  textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.montform  input:hover, .montform  textarea:hover,
.montform  input:focus, .montform  textarea:focus {
background-color:#e6e6e6;
}

.button-blue{
font-family: 'Montserrat', Arial, Helvetica, sans-serif;
float:left;
width: 100%;
border-radius: 2%;
border: #fbfbfb solid 4px;
cursor:pointer;
background-color: #3498db;
color:white;
font-size:24px;
padding-top:22px;
padding-bottom:22px;
transition: all 0.3s;
margin-top:-4px;
font-weight:700;
}

.button-blue:hover{
background-color: rgba(0,0,0,0);
color: #0493bd;
}

.montform  .submit:hover {
color: #3498db;
}

.ease {
width: 0px;
height: 74px;
background-color: #fbfbfb;
transition: .3s ease;
}

.submit:hover .ease{
width:100%;
background-color:white;
}

/*Styles for small screens*/

@media  only screen and (max-width: 580px) {
#form-div{
  left: 3%;
  margin-right: 3%;
  width: 88%;
  margin-left: 0;
  padding-left: 3%;
  padding-right: 3%;
}
}



/* services page */
.information-container {
    background: #000000;
    background: -webkit-linear-gradient(45deg, #434343, #000000);
    background: linear-gradient(45deg, #434343, #000000);
  
    background-size: cover;
    padding: 60px 0;
  }
  
  .inner-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
  }
  
  .section-title {
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
  }
  
  .border {
    width: 160px;
    height: 2px;
    background:#4B0082;
    margin: 40px auto;
  }
  
  .service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service-box {
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
  }
  
  .service-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #8A2BE2;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
  }
  
  .service-icon i {
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
  }
  
  .service-box:hover .service-icon {
    background: #9932CC;
    color: #ddd;
  }
  
  .service-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .description {
    font-size: 14px;
  }
  
  @media screen and (max-width:960px) {
    .service-box {
      max-width: 45%;
    }
  }
  
  @media screen and (max-width:768px) {
    .service-box {
      max-width: 50%;
    }
  }
  
  @media screen and (max-width:480px) {
    .service-box {
      max-width: 100%;
    }
  }


  /* mission */
  .splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
  }
  
  .panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
  }
  
    .panel .content {
        position: absolute;
        width: 100vw;
        min-height: 45vw;
        color: #FFF;
    }
  
    .panel .description {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }
  
    .panel img {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        width: 35%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  
  
  .bottom {
    background-color: #dad9e0;
    z-index: 1;
  }
  
    .bottom .description {
        right: 5%;
    }
  
  .top {
    background-color: #bc53d6;
    z-index: 2;
    width: 50vw;
  
    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
  }
  
    .top .description {
        left: 5%;
    }
  
  /* Handle. */
  .handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
  }
  
  /* Skewed. */
  .skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
  }
  
  .skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
  }
  
  .skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
  }
  
  /* Responsive. */
  @media (max-width: 900px) {
    body {
        font-size: 75%;
    }
  }

  
  /* screen page */
  
.laptop{
    /* background: lawngreen; */
    margin-left: 15% ;
    /* margin-top: 200px; */
  
    /* position:fixed; */
    /* top:0;
    left:0; */
    margin-top: 20%;
    display: inline-block;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-attachment: scroll; */
    
    background-size: 100% 100%;
    width: 40%;
    /* background-color: salmon; */
    /* width: 20%; */
    height: 400px;
  }
  
  .laptop-inner{
    /* width: 900px; */
    /* padding-left: 30px; */
    /* height: 600px; */
    /* width: 710px; */
    /* height: 10%;
    width: 80%; */
    /* background-color: seagreen; */
    
    width: 94%;
    /* height: 220px; */
    margin-left: 3%;
    /* position: relative; */
    /* margin: 0px auto; */
    /* position: relative; */
    /* background:orange; */
  }
  .carousel {
    /* box-sizing: border-box; */
      /* display: block; */
      /* height: 50px; */
      
      padding-top: 1%;
      width: 100%;
    /* any dimensions are fine, it can be responsive with max-width */
    /* width: 30%; */
    
  }
  /* .carousel img {
    width:100% !important;
    min-width:100 !important;
    height: auto;
  } */
  
  .carousel-inner {
    margin-top: 2%;
    /* make sure your .items will get correct height */
    background-size: cover;
  }
  /* .carousel-inner>.item>img, .carousel-inner>.item>a>img {
          display: block;
          height: auto;
          max-width: 100%;
          line-height: 1;
          margin:auto;
          width: 100%;
          } */
  
  .item {
    background-size: cover;
    
    object-fit:cover;
    /* background-position: 50% 50%; */
    width: 100%;
    
  }
  
  /* .item img {
    visibility: hidden;
  } */
  
  
  
  
  
  
  .carousel .carousel-item {
      /* height: 20% ; */
      /* width: 80%; */
      /* margin-top: 3%; */
      /* margin-bottom: 27%; */
      /* margin-left: 3%; */
      
    /* height: 10%; */
    
    height: 270px;
      background-size: contain;
      /* border-radius: 15px;*/
      
    }
    .item img {
      /* position: absolute; */
      /* object-fit:cover; */
      /* top: 0; */
      /* left: 0; */
      /* min-height: 500px; */
  }
    .carousel
    {
  
      /* width: 100%; */
        /* width: 100%; */
        
    }
  
    .carousel-item img {
        position: relative;
        display: none;
        object-fit:cover;
        
          /* width: 20%; */
        
    }
    
    .carousel-indicators li {
      border-radius: 0px;
      width: 0px;
      height: 0px;
      background-color: #404040;
  }
  
  .review
  {
      /* justify-content: flex-end; */
      /* position: relative; */
      margin-top: 15px;
      /* background-color: rgba(198, 198, 211, 0.093); */
      /* position: relative; */
      /* margin-left: 50px;
      margin-right: 50px; */
      
      display: inline-block;
      /* margin-top: 250px;  */
      width: 550px;
      padding-bottom: 20%;
      margin-top: 200px;
      height: 50px;
      font-size: 14px;
      /* text-align: center; */
      
      
  }
  
  .text-right
  {
      position: fixed;
      display: inline-block;
      bottom: 15px;
      right: 25px;
      font-size: 22px;
  }
  
  .btn  :hover{
      background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
      /* background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
      background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
  }
  
  .carousel-control-prev-icon
  {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    margin-top: 260px;
    margin-left: 360px;
    
    background-image: none;
  }
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    border-radius: 50%;
    margin-top: 260px;
    margin-right: 400px;
    
    background-image: none;
  }
  
  .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 55px;
    color: #a618b3;
    outline: black;
  }
  
  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #a618b3;
  }

  
  
/*------------GALLARY----------------------*/
.Gallary{
	
	width: 80%;
	height: auto;
	background-color: whitesmoke;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 3%; 
	padding-bottom: 3%;
	margin-left: 10%;


}
.Card{
	

  perspective: 2000px; 
padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	
}
.cnt {
	
	width: 200px;
	height: 300px;
	border-radius: 20px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip_btn{

	margin-left: 150px;
	
	background: none;
	border-width: 0px;
	margin-top: -10px;
}
.flip_btn img{
	background: none;
	width: 26px;
	filter: drop-shadow( 3px 3px 2px #CB3066);
}
.Card:hover .cnt {
  transform: rotateY(180deg);
}
.Card:hover h2 {
  animation: fadein 2s, UP 1s;
	
}
.Card:hover p {
  animation: fadein 2s, UP 1s;
	
}
.Card:hover .whel {
  animation: 
	  spin 5s ease-in-out infinite ;
}
.Card:hover .car {
  animation: Icon_apper 1s;
}
.Services_Card_front, .Services_Card_back{
  position: absolute;
  width: 100%;
  height: 100%;
	border-radius: 20px;
  backface-visibility: hidden;
}
.Services_Card_front {
box-shadow: 3px 5px 10px .5px   palevioletred;
background: linear-gradient(180deg, #CB3066 60%, #EECDA3) ;
}
.Services_Card_back {
  
  color: white;
  transform: rotateY(180deg);
	background: linear-gradient(180deg, #141E30 80%, #243B55);
	box-shadow: 3px 5px 10px .5px   #243B55;
}
.logo{
	position: relative;
	margin-top: 40px;
	width: 150px;
	z-index: 2;
}
.blob{
	
	border-radius: 100px;
	height: 150px;
	width: 160px;
	background: white ;
	margin-top:40px;
	margin-left: 20px;
	position: absolute;
	z-index: 1;
	animation: blob-anim 8s ease-in-out infinite;
	 filter: drop-shadow(1px 1px 5px white);

}
.star1{
	height: 20px;
	 -webkit-filter: drop-shadow(1px 1px 5px white );
  filter: drop-shadow(1px 1px 5px white);
}
.star0{
	height: 20px;
}
.star_cnt{
	justify-content: center;
	width: 100%;
	height: 40px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}
.whel{
	position: absolute;
	height: 60px;
	margin-left: -110px;
	margin-top: 250px;
	
}
.car{	
	position: absolute;
	height: 120px;
	margin-left: 10px;
	margin-top:-40px;
	transform: rotate(-50deg);
	
}

/*--------------CONSULT------------------*/
.cns_btn{
	align-self: center;
	font-size: 20px;
	background: dimgray;
	color: white;
	width: 140px;
	height: 40px;
	border-radius: 30px;
	border-width: 0px;
	font-family: sans-serif;
	font-weight: 600;
	font-size: 24px;
	transition: background .3s, color .3s, border .2s;
	margin: 2% 0%;
	
}
.cns_btn:hover{
	color: dimgray;
	background: white ;
	border-width: 6px;
	border-bottom-color: dimgray;
}
.cns_txt{ 
	
	align-self: center;
	font-size: 100%;
	color: dimgray;
	font-family: monospace;
	padding: 0% 20%;
	text-align: center;
	
}
.head{
	align-self: center;
	font-size: 200%;
	color: black;
	font-family:monospace;
	text-align: center;


}
#bgvid{
	
	width: 60%;
	align-self: center;
}
/*-------------Animations----------------*/
@keyframes UP{
	0%{transform: translateY(-50px);}
	100%{transform: translateY(0px);}
}
@keyframes fadein{
	  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes flip{
	
	100%{ transform: rotateY(180deg);}
}
@keyframes slidefromright{
	   from {
      transform: translateX(0);
   }
   to {
      transform: translateX(100px);
   }
	
}
@keyframes Icon_apper{
	0%{opacity: 0; transform:scale(0);}
	50%{opacity: 0;transform:scale(0);}
	70%{transform:scale(1.2);}
	80%{opacity: 1;transform:scale(1);}
	
}
@keyframes blob-anim{
	0% {border-radius: 66% 34% 37% 63%/ 57% 31% 69% 43%;}
	60% {border-radius: 25% 75% 50% 50%/ 25% 50% 45% 80%;}
	100% {border-radius: 66% 34% 37% 63%/ 57% 31% 69% 43%;}
	
}
@keyframes spin{ 
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}

}
/*---------------------------------------*/


