@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url("https://fonts.googleapis.com/css?family=Roboto");
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}


.floating-container {
  position:fixed;
	z-index:100;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px #FFD700;
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #FFD700;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px #ffd900af;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 16px;
}
.floating-container .float-element:nth-child(1) {
  background: #42A5F5;
  box-shadow: 0 20px 20px -10px #FFD700;
}
.floating-container .float-element:nth-child(2) {
  background: #4CAF50;
  box-shadow: 0 20px 20px -10px rgba(76, 175, 80, 0.5);
}
.floating-container .float-element:nth-child(3) {
  background: #FF9800;
  box-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
}



/* h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
} */

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}





.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}


/* offers animations */


.section3{

	
	margin-top: 250px;
	/* display: block; */
    /* padding-bottom: 0px; */
	align-items: center;
	justify-content: center;
	height: 900px;
    
	width: 100%;
	flex-wrap: wrap;

    background-color: rgba(192, 189, 189, 0.116);
}




/* navigation bar customization */
.mynav{

	height:500px;
}
.navbar{
  
	background-color:  rgba(242, 242, 245, 0.671);
}
.navbar .navbar-brand{
  margin-left: 5%;
	color : black;
	font-weight: bolder;
	font-size: 1.3em;
}
.navbar .navbar-nav{
	margin-left: auto;
  margin-right: 5%;
  color: black;
  
}
.navbar .nav-item{
    color: black;
    margin-left: 20px ;
}
.navbar .nav-item :hover{
	background-color: #ffd90057;
    border-radius: 5px;
}
.navbar .nav-item a{
  
	color: rgb(19, 16, 16) !important;
    
}
.navbar .dropdown-menu{
	background-color: rgba(0,0,0,0.3);
}
.dropdown-item:hover{
	background-color: rgba(0,0,0,0.3);
}
.navbar form button{
	background-color: #ea00b1;
	color:#FFF;
	border:0;
}
.navbar form button:hover{
	background-color: #000;
}



/* video customization */
#videoDiv {
    display: block;
    width: 100%; height: 630px; position:static ;}
#video1 { position: absolute;
    right: 0;
    min-width: 100%;
    height: initial;
    overflow: hidden
    ;
}
#videoMessage { 
    color: white;
    background: rgba(242, 242, 245, 0.671);
    
    margin-top: 0px;/*
    margin-left: 300px;
    margin-right: 300px;*/
    padding-bottom: 20%;
    position: absolute; top: 50; left: 50;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 138%;
}
.block1
{
    margin-top: 400px;
    position: relative;
}
.block2
{
    position: relative;
    display: block;
}


/* ................................................................................. */

#mobileparent
{
    display: flex;
    margin-top: 190px;
    /* position: relative; */
    /* background: rgb(112, 202, 21); */
    /* color: lawngreen; */
}
#mobile
{
    justify-content: left;
    width: 300px;
    display: inline-block;
    /* position: absolute; */
    /* background-color: lightcoral; */
}
#test
{
    clear: both;
    /* position: relative; */
    margin-top: 50px;
    height: 450px;
    border-top-right-radius: 45px;
    border-radius: 45px ;
    width: 250px;
    opacity: .9;
    padding-top: 20px;
    background: hsl(0, 4%, 5%);
    margin-left: -129px;
    /* background-color: rgba(32, 178, 171, 0.397); */
}

.laptop{
  /* background: lawngreen; */
  margin-left: 15% ;
  /* margin-top: 200px; */

  /* position:fixed; */
  /* top:0;
  left:0; */
  margin-top: 20%;
  display: inline-block;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-attachment: scroll; */
  
  background-size: 100% 100%;
  width: 40%;
  /* background-color: salmon; */
  /* width: 20%; */
  height: 400px;
}

.laptop-inner{
  /* width: 900px; */
  /* padding-left: 30px; */
  /* height: 600px; */
  /* width: 710px; */
  /* height: 10%;
  width: 80%; */
  /* background-color: seagreen; */
  
  width: 94%;
  /* height: 220px; */
  margin-left: 3%;
  /* position: relative; */
  /* margin: 0px auto; */
  /* position: relative; */
  /* background:orange; */
}
.carousel {
  /* box-sizing: border-box; */
    /* display: block; */
    /* height: 50px; */
    
    padding-top: 1%;
    width: 100%;
  /* any dimensions are fine, it can be responsive with max-width */
  /* width: 30%; */
  
}
/* .carousel img {
  width:100% !important;
  min-width:100 !important;
  height: auto;
} */

.carousel-inner {
  margin-top: 2%;
  /* make sure your .items will get correct height */
  background-size: cover;
}
/* .carousel-inner>.item>img, .carousel-inner>.item>a>img {
        display: block;
        height: auto;
        max-width: 100%;
        line-height: 1;
        margin:auto;
        width: 100%;
        } */

.item {
  background-size: cover;
  
  object-fit:cover;
  /* background-position: 50% 50%; */
  width: 100%;
  
}

/* .item img {
  visibility: hidden;
} */






.carousel .carousel-item {
    /* height: 20% ; */
    /* width: 80%; */
    /* margin-top: 3%; */
    /* margin-bottom: 27%; */
    /* margin-left: 3%; */
    
  /* height: 10%; */
  
  height: 270px;
    background-size: contain;
    /* border-radius: 15px;*/
    
  }
  .item img {
    /* position: absolute; */
    /* object-fit:cover; */
    /* top: 0; */
    /* left: 0; */
    /* min-height: 500px; */
}
  .carousel
  {

    /* width: 100%; */
      /* width: 100%; */
      
  }

  .carousel-item img {
      position: relative;
      display: none;
      object-fit:cover;
      
       /* width: 20%; */
      
  }
  
  .carousel-indicators li {
    border-radius: 0px;
    width: 0px;
    height: 0px;
    background-color: #404040;
}

.review
{
    /* justify-content: flex-end; */
    /* position: relative; */
    margin-top: 15px;
    /* background-color: rgba(198, 198, 211, 0.093); */
    /* position: relative; */
    /* margin-left: 50px;
    margin-right: 50px; */
    
    display: inline-block;
    /* margin-top: 250px;  */
    width: 550px;
    padding-bottom: 20%;
    margin-top: 200px;
    height: 50px;
    font-size: 12px;
    /* text-align: center; */
    
    
}

.text-right
{
    position: fixed;
    display: inline-block;
    bottom: 15px;
    right: 25px;
    font-size: 22px;
}

.btn  :hover{
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}

.carousel-control-prev-icon
{
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  margin-top: 260px;
  margin-left: 400px;
  
  background-image: none;
}
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  margin-top: 260px;
  margin-right: 400px;
  
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #FFD700;
  outline: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #FFD700;
}



.form-group
{
    margin: 5px auto;
}

.footer {
    padding-top: 20px;
    /* background: #061D25; */
    /* padding: 10px 0; */
    
  }
  
  .footer a {
    color: #70726f60;
    font-size: 20px;
    padding: 10px;
    
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: rgb(10, 50, 73);
  }



.contact-us {
    width: 50%;
    height: 300px;
    margin: 0% 25%;
    padding: 20px;
    /* background-position: bottom left; */
    background-size: 50px;
 }


.consulation
{
  margin-top: 20%;
  display: inline-flex;
}

.inner-consulation2
{
  
  width: 900px; 
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inner-consulation
{
  padding-top: 100px;
  width: 100%;
  margin-left: 20%;
  
}



/* .navbar .dropdown-menu{
	background-color: rgba(173, 28, 28, 0.3);
} */
/* .dropdown-item:hover{ 
	background-color: rgba(177, 24, 24, 0.3); */
/* }  */
/* .navbar form button{
	background-color: #ea00b1;
	color:rgb(116, 41, 41);
	border:0;
} */
/* .navbar form button:hover{
	background-color: rgb(163, 26, 26);
} */



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: rgb(24, 24, 23);
}
.container{

 
	
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	/* flex-wrap: wrap; */
}

.box{

	
   
	background: rgb(252, 251, 251);
	position: relative;
	width: 450px;
	padding: 40px;
	
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.212);
	border-radius: 4px;
	margin: 20px;
	overflow: hidden;
	text-align: center;
}
.box:before{
	content: "";
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(231, 229, 229, 0.2);
	z-index: 1;
}
.box .icon{
	position: relative;
	width: 80px;
	height: 80px;
	background: rgb(2, 2, 2);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	font-size: 40px;
	font-weight: 700;
	border-radius: 50%;
	transition: 0.01s;
}
.box:nth-child(1) .icon{
	box-shadow: 0 0 0 0 #3d3610;
	background: #FFD700;
}
.box:nth-child(1):hover .icon{
	box-shadow: 0 0 0 400px #3d3610;
}
.box:nth-child(2) .icon{
	box-shadow: 0 0 0 0 #696868;
	background: #FFD700;
}
.box:nth-child(2):hover .icon{
	box-shadow: 0 0 0 400px #3d3610;
}
.box:nth-child(3) .icon{
	box-shadow: 0 0 0 0 #696868;
	background: #FFD700;
}
.box:nth-child(3):hover .icon{
	box-shadow: 0 0 0 400px #3d3610;
}
.box .content{
	position: relative;
	z-index: 2;
	transition: .5s;
}
.box:hover .content{
	color: #fff;
}
.box .content h3{
	font-size: 20px;
	margin: 20px 0;
}
.box .content a{
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
	font-weight: 500;
	margin-top: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
